<div class="jumbotron">
  <form method="post" action="/forms/about_you">
    <div class="section-heading">Tell us a little about yourself</div>
    <div class="question row">
         <div class="col-sm-4">How much money do you have in your checking and savings account?</div>
         <div class="col-sm-4" ><input name="accountBalance" type="text"></input></div>
    </div>
    <div class="question row">
      <div class="col-sm-4">How much money do you spend every month?</div>
      <div class="col-sm-4"><input name="monthlyExpenses" type="text"></input></div>
    </div>
    <div class="question row">
      <div class="col-sm-4">If you have credit card debt, what is your monthly payment?</div>
      <div class="col-sm-4"><input name="creditCardMonthlyPayment" type="text"></input></div>
    </div>
    <div class="question row">
      <div class="col-sm-4">If you have student debt, what is your monthly payment?</div>
      <div class="col-sm-4"><input name="studentDebtMonthlyPayment" type="text"></input></div>
    </div>
    <div class="question row">
      <div class="col-sm-4">Do you contribute to a 401(k) plan every month?</div>
      <div class="col-sm-4"><input type="checkbox" name="hasRetirementAccount"></input></div>
    </div>
    <div class="nav-button"><button type="submit" class="button center">Next</button>
    </div>
  </form>
</div>

<script type="text/javascript">
  $.fn.bootstrapSwitch.defaults.onText = 'Yes';
  $.fn.bootstrapSwitch.defaults.offText = 'No';
  $.fn.bootstrapSwitch.defaults.onColor = '#333333';
  $("[name='hasRetirementAccount']").bootstrapSwitch();

</script>
