<div class="jumbotron">
  <form method="post" action="/forms/about_you">
    <div class="section-heading">Tell us a little about yourself</div>
    <div class="question">How much money do you have in your checking and savings account?
         <input name="accountBalance" type="text"></input>
    </div>
    <div class="question">
      How much money do you spend every month?
      <input name="monthlyExpenses" type="text"></input>
    </div>
    <div class="question">
      If you have credit card debt, what is your monthly payment?
      <input name="creditCardMonthlyPayment" type="text"></input>
    </div>
    <div class="question">
      If you have student debt, what is your monthly payment?
      <input name="studentDebtMonthlyPayment" type="text"></input>
    </div>
    <div class="question">
      Do you contribute to a 401(k) plan every month?
      <input type="radio" name="hasRetirementAccount">Yes</input>
      <input type="radio" name="hasRetirementAccount">No</input>
    </div>
    <div class="nav-button"><button type="submit" class="button center">Next</button>
    </div>
  </form>
</div>
