<div id="overlay-container" style="display: none">
  <header class="overlay">
    <div class="container">
      <div class="row">
         <div class="col-lg-12">
           <img class="img-responsive" src="/images/cnote_landing_page.png" alt="">
           <div class="logo-text-lp">CNote</div>
           <div class="sub-text-lp">
             <span class="sub-text-lp">Finance for the Rest of Us</span>
           </div>
         </div>
       </div>
     </div>
  </header>
</div>
<div class="container">
  <br>
  <br>
  <form method="post" action="/sign_up">
    <h2 class="heading">Earn Account @ CNote</h2>
    <div class="sub-heading-descriptive">Earn 5x more than your Savings by investing in local businesses</div>
    <div class="sub-heading-short">We believe in simplicity, transparency and community</div>
      <br>

    <div class="sub-heading-descriptive-small">We are doing a closed beta!</div>
    <div class="nav-button center">
        <fieldset class="form-group">
          <input type="email" class="email-input" name="inputEmail"  id="inputEmail" placeholder="Enter email to sign up">
          <button type="submit" class="button btn">Go!</button> 
       </fieldset>
       <!-- <button type="submit" class="button center">Next</button></div> -->
    </div>
  </form>
</div>

<script type="text/javascript">
  // hide the overlay 
  setTimeout(function() {
    $('#overlay-container').fadeOut('slow');
    console.log('hide');
  }, 3000);  

  // hide the menu bar for now
</script>
