<header class="full-screen turqoise-bg">
  <div class="turqoise-bg container">
    <div class="row">
       <div class="col-lg-12">
         <a href="/pages/about_you"><img class="img-responsive" src="/images/cnote_landing_page.png" alt=""></a>
         <div class="sub-text-lp">
           <span class="sub-text-lp">Finance for the rest of us</span>
         </div>
       </div>
     </div>
   </div>
</header>

