<div class="jumbotron">
  <div class="section-heading">Welcome</div>
  <form method="get" action="/pages/about_you">
    <button class="button"  type="submit">Show me the magic!</button>
  </form>
</div>
