<div class="container">
  <h2 class="heading">Good news!</h2>
  <div class="sub-heading-descriptive">We calculate a conservative</div>
  <div class="banner-turqoise">
    <div class="banner-heading">${{accountBalance}}</div>
    <div class="banner-sub-heading">you have to invest</div>
  </div>
  <div class="sub-heading-descriptive">or</div>
  <div class="monthly-payment-banner">
    <span class="sub-heading-short">${{calculatedYearlyAmount}} </span>
    <span class="sub-heading-descriptive"><b>/</b> month</span>
  </div>
  <div class="sub-heading-descriptive">to get you started</div> 
  <div class="center nav-button">
    <button class="button" type="button">Sounds Interesting</button>
  </div>
</div>
