<div class="jumbotron">
  <div class="section-heading">You could invest your <b>${{accountBalance}}</b> and make an extra <b>${{calculatedYearlyAmount}}</b> every year. That is an interest rate of <b>5%</b> per year.
  <div class="section">
    <button class="button" type="button">No, thanks</button>
    <button class="button" type="button">Sounds interesting</button>
  </div>
</div>
