.overlay {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-radial-gradient(#aaaaaa, #31979a); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#999999, #31979a); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#999999, #31979a); /* For Fx 3.6 to 15 */
  background: radial-gradient(#999999, #31979a); /* Standard syntax (must be last) */
}

.monthly-payment-banner {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
}

.banner-turqoise {
  background-color: #31979a;  
  color: white;
  text-align: center;
  border-radius: 5px; 
  margin: auto;
  width: 70%;
  padding: 10px;
}

.banner-heading {
  font-size: xx-large;
}

.banner-sub-heading {
  font-size: large;
}

.money-input {
  border-radius: 5px;
  width: 70px;
  height: 36px;
  font-size: 18px;
}

.question {
  margin: auto;
  color: grey;
  padding-top: 5px;
}

.question-answer-column {
  display: inline-block;
  vertical-align: middle;
  float: none;
  max-width: 200px;
  min-wdith: 100px;
  margin-left: 0px;
  padding: 5px;
}

.button {
  background-color: #31979a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
}

.heading {
  color: #31979a;
  width: inherit;
  text-align: center;  
}

.sub-heading-descriptive {
  color:  grey;
  width: inherit;
  text-align: center;
  font-size: large;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub-heading-short {
  color: #31979a;
  width: inherit;
  text-align: center;
  font-size: x-large;
}

.questions {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  background-color: #fbfbfb;
  height: 280px;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
  border-style: ridge;
}

/** LP styles */
.img-responsive {
  margin: 0px auto;
  display:block;
  max-width: 260px;
}

.logo-text-lp {
  margin: 0px auto;
  display:block;
  text-align: center;
  font-size: 54px;
  font-weight: lighter;
  color: white;
}

.sub-text-lp {
  margin: 0px auto;
  display:block;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  color: white;
}

/** End LP styles **/

/** Nav bar styles  **/
.navbar {
  background-color: #fbfbfb;
}

.navbar-separator {
  margin-top: 51px;
  margin-bottom: 0px;
  border-top: 2px solid #54555c;
}

.navbar-icon {
  height: 50px;
}

.navbar-brand {
  margin-left: 10px;
  padding-top: 0px;
}

.navbar-toggle {
  margin-right: 35px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #31979a;
}

/** End nav bar styles**/

/** Common styles **/
header, body, html {
  height: 100%;
}

.row {
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

body {
  border-style: solid;
  font-family: MuseoSans-500;
  overflow: scroll;
}
