.cnote-logo {
  float: left;
  margin-left: 10px;
}

.section-heading {
  font-size: x-large;
  margin-bottom: 20px;
}

.section {
  margin-top: 20px;
}

.question {
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  background-color: slategrey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
  margin: auto;
  width: 30%;
  padding: 10px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.turqoise-bg {
  background-color: #31979a;
}

.img-responsive {
  margin: 0px auto;
  display:block;
  max-width: 300px;
  margin-top: 51px;
  margin-bottom: 20px; 
}

.sub-text-lp {
  margin: 0px auto;
  display:block;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
  color: white;
}

.navbar {
  background-color: #fbfbfb;
}

header, body, html {
  height: 100%;
}

.navbar-separator {
  margin-top: 51px;
  margin-bottom: 0px;
  border-top: 2px solid #54555c;
}

.navbar-icon {
  height: 50px;
}

.navbar-brand {
  margin-left: 10px;
  padding-top: 0px;
}
