.money-input {
  border-radius: 5px;
  max-width: 100px;
}

.cnote-logo {
  float: left;
  margin-left: 10px;
}

.question {
  margin: auto;
  color: grey;
  padding: 5px;
}

.row {
  margin-right: 0px;
}

.button {
  background-color: #31979a;;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
  margin: auto;
  width: 30%;
  padding: 10px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.turqoise-bg {
  background-color: #31979a;
}

.heading {
  color: #31979a;
  width: inherit;
  text-align: center;  
}

.sub-heading-descriptive {
  color:  grey;
  width: inherit;
  text-align: center;
  font-size: large;
  padding: 20px;
}

.sub-heading-short {
  color: #31979a;
  width: inherit;
  text-align: center;
  font-size: x-large;
}

.questions {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  padding: 5px;
  background-color: #fbfbfb;
}

/** LP styles */
.img-responsive {
  margin: 0px auto;
  display:block;
  max-width: 300px;
  margin-top: 51px;
  margin-bottom: 20px; 
}

.sub-text-lp {
  margin: 0px auto;
  display:block;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
  color: white;
}

/** End LP styles **/

/** Nav bar styles  **/
.navbar {
  background-color: #fbfbfb;
}

.navbar-separator {
  margin-top: 51px;
  margin-bottom: 0px;
  border-top: 2px solid #54555c;
}

.navbar-icon {
  height: 50px;
}

.navbar-brand {
  margin-left: 10px;
  padding-top: 0px;
}

.navbar-toggle {
  margin-right: 35px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #31979a;
}

/** End nav bar styles**/

/** Common styles **/
header, body, html {
  height: 100%;
}

